<h1>gdyup</h1>
<h2>Never set an alarm again.</h2>
<p>We'll give you a wakeup call before your first appointment every day.</p>
<%= form_for @alarm do |f| %>
  <fieldset>
    <div class="clearfix">
      <%= label_tag 'phone' %>
      <div class="input">
        <%= f.text_field :phone %>
      </div>
    </div>
    <div class="clearfix">
      <%= label_tag 'lead_time' %>
      <div class="input">
        <%= select_tag(:lead_time, options_for_select([['None', 0], ['5 minutes', 5], ['15 minutes', 15], ['30 minutes', 30], ['1 hour', 60], ['2 hours', 120], ['3 hours', 180]])) %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit("Create", :class => "btn primary") %>
    </div>
  </fieldset>
<% end %>